*{
  margin: 0;
  padding: 0;
}

main{
  border: 2px solid #008080;
  height: 700px;
  width: 940px;
  margin: auto;
}

header{
  border: 1px solid #C0C0C0;
  background:#C0C0C0;
  padding: 5px;
  margin: 5px;
  height: 100px;
  width: 920px;
}

nav{
  border: 1px solid #008080;
  background: #008080;
  margin: 5px;
  padding: 5px;
  padding-left: 200px;
  height: 30px;
}

section{
  border: 2px solid #FFFFFF;
  float: left;
  padding: 5px;
  margin: 5px;
  width: 500px;
  height: 400px;
}

article{
border: 2px solid #E8E995;
background: #E8E995;
height: 190px;
margin: 5px;
 }

aside{
  border: 2px solid #008080;
  background: #008080;
  float: right;
  padding: 2px;
  margin:  4px;
  width: 400px;
  height: 405px;
}

footer{
  border: 2px solid #008080;
  background: #008080;
  clear: both;
  height: 100px;
  width: 930px;
  margin: auto;
}
